@inherits Element

<Div Class="quark-table-topbar-wrapper" @attributes="BuildAttributes()">
    <Div Class="@($"quark-table-topbar {LayoutClass}")">
        @ChildContent
    </Div>
</Div>

@code {
    [Parameter]
    public string LayoutClass { get; set; } = string.Empty;
}
