
@inherits ComponentBase

<div class="quark-table-bottombar-wrapper">
    <div class="quark-table-bottombar @LayoutClass">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string LayoutClass { get; set; } = string.Empty;
}