<Div class="@($"quark-table-loader {(IsLoading ? "quark-table-loader-active" : "")}")" >
	@if (IsLoading)
	{
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			<Div class="quark-table-loader-overlay" >
				<Div class="quark-table-loader-content" >
					<Div class="quark-table-loader-default" >
						<Div class="quark-table-spinner" ></Div>
						<span>Loading...</span>
					</Div>
				</Div>
			</Div>
		}
	}
</Div>

@code {

	[CascadingParameter(Name = "IsLoading")]
	public bool IsLoading { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

}