@inherits Element

<table class="quark-table quark-table-element" @attributes="BuildAttributes()">
    @ChildContent
</table>

@code {
	public override string? Name { get; set; } = "QuarkTableElement";
} 
