@using Soenneker.Quark.Table.Abstract
@inherits ComponentBase

@if (QuarkTable?.HasLoadedOnce == true)
{
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div class="quark-table-no-data">
            <div class="quark-table-no-data-content">
                <div class="quark-table-no-data-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3H21V21H3V3ZM5 5V19H19V5H5ZM7 7H17V9H7V7ZM7 11H17V13H7V11ZM7 15H13V17H7V15Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="quark-table-no-data-text">
                    <h4>No data available</h4>
                    <p>There are no records to display at this time.</p>
                </div>
            </div>
        </div>
    }
}

@code {
    [CascadingParameter]
    public IQuarkTable? QuarkTable { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
} 