@inherits Element

<Div Class="@($"quark-table-loader {(IsLoading ? "quark-table-loader-active" : "")}")" @attributes="BuildAttributes()">
	@if (IsLoading)
	{
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			<Div Class="quark-table-loader-overlay" >
				<Div Class="quark-table-loader-content">
					<Div Class="quark-table-loader-default">
						<Div class="quark-table-spinner" ></Div>
						<span>Loading...</span>
					</Div>
				</Div>
			</Div>
		}
	}
</Div>

@code {

	[CascadingParameter(Name = "IsLoading")]
	public bool IsLoading { get; set; }

}